<h1>Register</h1>
<form action="/register" method="POST">
<label>Username</label>
<input name="username" type="text" required>
<label>Email</label>
<input name="email" type="email" required>
<label>Password</label>
<input name="password" type="password" required>
<label>Real name</label>
<input name="name" type="text">
<button type="submit" title="Login"></button>
</form>